body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    text-align: center;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-bottom: 8px;
}

button {
    margin-top: 16px;
    cursor: pointer;
}

.dashboard-container {
    text-align: center;
    margin-top: 50px;
}